@model IEnumerable<COMP003B.LectureActivity6.Models.Course>

<h2>Courses</h2>

<p>
    <a asp-action="Create">Create New Course</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>@item.Title</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CourseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CourseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CourseId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>